<div class="center jumbotron">
  
  <h1 class="name">| pocre |<br>poll creating web app.</h1>
  <br>
  <hr>
  <div id=below>
    <br>
    <h2>
      It helps you create and manage your own poll
    </h2>
    <br>
    <% if !logged_in? %>
     <%= link_to "Sign up", signup_path, class: "btn btn-lg btn-default" %>
    <% else %>
      <%= link_to "Create Poll", new_post_path, class: "btn btn-lg btn-default" %>
    <% end %>
    <br>
  </div>
</div>

