<div class="nested-fields">
    <div class="field">
      <%= f.label :value, "Value" %>
      <%= f.text_field :value %>
    </div>
    <div class="field">
      <%= f.label :description, "Description" %>
      <%= f.text_field :description %>
    </div>
    <div class="field">
      <%= f.label :img, "Image link" %>
      <%= f.text_field :img %>
    </div>
    <%= link_to_remove_association "remove option", f, class: "btn btn-danger pull-right" %>
</div>