<% provide(:title, 'All Polls') %>
<h1>All Polls</h1>
<hr>
<br>

<%= will_paginate %>
<ul class="polls">
  <% @posts.each do |po| %>
    <li>
      <%= link_to po.title, po %>
    </li>
  <% end %>
</ul>
<%= will_paginate %>