<% provide(:title, "Creating Poll") %>
<h1>creating poll.</h1>
<hr>
<br>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@post) do |f| %>
      <%= render 'shared/error_messages', object: f.object %>
      
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :start_date, value: DateTime.now %>
      <div class="field">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :vote_limit %>
        <%= f.number_field :vote_limit, class: 'form-control' %>
      </div>
      
      <div class="field">
        <%= f.label :description %>
        <%= f.text_field :description, class: 'form-control' %>
      </div>
  
      <label>Poll Date Closed</label>
      <div class='input-group date controls' id='datetimepicker1' >
        <%= f.text_field :close_date, class: "form-control",id: "event_end_date"%>

        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
        </span>
      </div>
      
      <br>
      <div class="field">
        <%= f.label :background_img, "Description Image" %>
        <%= f.text_field :background_img, class: 'form-control' %>
      </div>
      
      <h3>Options</h3>
      <div id="options">
        <%= f.fields_for :options do |option| %>
          <%= render 'option_fields', f: option %>
        <% end %>
        <div class="links">
          <%= link_to_add_association 'add option', f, :options, class: "btn btn-default" %>
        </div>
      </div>

      <br> 
      
      <%= f.submit "Create Poll", class: "btn btn-primary" %>
    <% end %>

  </div>
</div>