<% provide(:title, "Poll") %>
<h1><%= @post.title %></h1>
<hr>
<h2><%= @post.description %></h2><br>
<% if !@post.background_img.nil? %>
<div class="img img-div"><%= image_tag(@post.background_img, :alt => "background", :height => 400) %></div>
<% end %>
<h3>Share this link to people to vote:</h3>
<textarea rows='1' id='fe_text' wrap="hard" disabled><%= request.original_url %></textarea>
<button class='my_clip_button btn btn-lg btn-default pull-right' data-clipboard-target='fe_text' data-clipboard-text='Default clipboard text from attribute' id='d_clip_button' title='Click me to copy to clipboard.'>
  <b>Copy To Clipboard...</b>
</button>
<br>
<br>
<h3>Close date: <%= @post.close_date.to_formatted_s(:long) %></h3>
<br>
<div class="vertical-center clock"></div>
<br>
<br>
<% if current_user != nil %>
  <% if current_user.id != @post.user_id %>
    <% if @post.close_date > DateTime.now %>
      <% if !@is_voted %>
        <%= form_for :options, :url => vote_path do |f| %>
          <%= f.hidden_field :post_id, value: @post.id %>
          <% @options.each do |opt| %>
          <hr>
          <hr style="width: 50%">
          <div class="">
            <div style="text-align: center">
            <%= check_box_tag "option_id[]", opt.id %>
            <h2 style=""><%= opt.value %><br></h2>
            <h3><%= opt.description %></h3>
            </div>
            <% if !opt.img.nil? %>
              <div class="vertical-center img"><%= image_tag(opt.img, :alt => "background", :height => 150) %> </div><br>
            <% end %>
          </div>
          
          <% end %>
          <%= f.submit "Vote", class: "btn btn-primary", id:"margin" %>
        <% end %>
      <% else %>
        <p>You have already voted</p>
        <% @options.each do |opt| %>
          <%= opt.value %> <br>
          Description: <%= opt.description %> <br>
          <% if !opt.img.nil? %>
            <div class="vertical-center img"><%= image_tag(opt.img, :alt => "background", :height => 150) %> </div><br>
          <% end %>
          <%= pluralize(opt.count, "person") %> voted for this option. <br> <br>
        <% end %>
      <% end %>
    <%else %>
      <p>This poll has closed</p>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-xs-6">
        <h3>Total Votes</h3>
        <% votes = Hash.new %>
        <% @post.options.each do |opt| %>
          <% votes[opt.value.to_sym] = opt.count %>
        <% end %>
        <div>
          <%= pie_chart(votes) %>
        </div>
      </div>
    </div>
    <% @options.each do |opt| %>
      <div style="margin-top: 2em;" class="col-md-4">
      <%= opt.value %> <br>
      Description: <%= opt.description %> <br>
      <% if !opt.img.nil? %>
        <div class="vertical-center img"><%= image_tag(opt.img, :alt => "background", :height => 150) %> </div><br>
      <% end %>
      <%= pluralize(opt.count, "person") %> voted for this option. <br>
      <% if opt.count > 0 %>
      <% count = 0 %>
      Including: 
        <% user_name(opt).each do |n|%>
          <% count += 1 %>
          <%= n %>
          <% if count == opt.count %>
            .<br>
          <% else %>
            , 
          <% end %>
        <% end %>
      <% end %>
      <br> <br>
      </div>
    <% end %>
    <br>
    <h1 style="clear:both;">Edit the poll</h1>
    
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <%= form_for(@post) do |f| %>
          <%= render 'shared/error_messages', object: f.object %>
          
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :start_date, value: DateTime.now %>
          <div class="field">
            <%= f.label :title %>
            <%= f.text_field :title, class: 'form-control' %>
          </div>
          
          <div class="field">
            <%= f.label :vote_limit %>
            <%= f.number_field :vote_limit, class: 'form-control' %>
          </div>
          
          <div class="field">
            <%= f.label :description %>
            <%= f.text_field :description, class: 'form-control' %>
          </div>
      
          <label>Poll Date Closed</label>
          <div class='input-group date controls' id='datetimepicker1' >
            <%= f.text_field :close_date, class: "form-control",id: "event_end_date"%>
    
            <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
          
          <br>
          <div class="field">
            <%= f.label :background_img, "Description Image" %>
            <%= f.text_field :background_img, class: 'form-control' %>
          </div>
          
          <h3>Options</h3>
          <div id="options">
            <%= f.fields_for :options do |option| %>
              <%= render 'option_fields', f: option %>
            <% end %>
            <div class="links">
              <%= link_to_add_association 'add option', f, :options, class: "btn btn-default" %>
            </div>
          </div>
          <br>
          <br>
          <%= f.submit "Update Poll", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% else %>
  <% if @post.close_date > DateTime.now %>
    <%= form_for :options, :url => vote_path do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <% @options.each do |opt| %>
      <hr>
      <hr style="width: 50%">
      <div class="">
        <div style="text-align: center">
        <%= check_box_tag "option_id[]", opt.id %>
        <h2 style=""><%= opt.value %><br></h2>
        <h3><%= opt.description %></h3>
        </div>
        <% if !opt.img.nil? %>
          <div class="vertical-center img"><%= image_tag(opt.img, :alt => "background", :height => 150) %> </div><br>
        <% end %>
      </div>
      
      <% end %>
      <%= f.submit "Vote", class: "btn btn-primary", id:"margin" %>
    <% end %>
  <% else %>
    <p>This poll has closed</p>
  <% end %>
<% end %>
  
<script type="text/javascript">
			var clock;
			$(document).ready(function() {
				// Instantiate a counter
				clock = new FlipClock($('.clock'), <%= @post.close_date-DateTime.now %>, {
					clockFace: 'DailyCounter',
					autoStart: true,
					countdown: true
				});
				
			});
		</script>
		
<script>
  $(document).ready(function() {
    var clip = new ZeroClipboard($("#d_clip_button"))
  });

  $("#clear-test").on("click", function(){
    $("#fe_text").val("Copy me!");
    $("#testarea").val("");
  });
  
//   $("#slide").css({width:$(window).width(),height:$(window).height()});
// 	function imgsize() {
// 	    var W = $(window).width(),
// 	        H = $(window).height();
	
// 	    $('#slide').height(H).width(W);
// 	}
// 	$(window).bind('resize', function() { imgsize(); });
</script>