@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'bootstrap-datetimepicker';
@import 'flipclock';

@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,700|Source+Sans+Pro:200|Roboto:100,300&subset=latin,latin-ext,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Lato:100&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);



/* universal */
.containter .alert {
}

.form-control {
  border-radius: 0;
  -webkit-appearance: none;
  border-color: rgba(186,10,51,0.62);
}

.btn {
  margin-top: 10px;
  border-radius: 0px;
  font-size: 1em;
  text-transform: lowercase;
  padding: 7px;
  font-weight: 300;
  font-family: Quicksand;
}


.btn-primary {
  background: #fff;
  color: #B3052E;
  border-color: #DBD5D6;
  font-weight: bold;
}

.btn-primary:hover {
  background: #A10707;
  border: 0 none;
  color: #fff;
}

.jumbotron {
  background: #fff;
}

#alert {
  margin-top: 5em;
  margin-bottom: 0;
}

body {
  padding-top: 80px;
  font-family: 'Source Sans Pro';
  font-weight: 200;
  font-size: 18px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

a, a:hover, a:visited{
  text-decoration: none !important; 
  color: #A10707;
}

.clear {
    clear: both;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
}

h1 {
	font-family: 'Quicksand';
	padding: 30px;
	font-weight: 300;
  font-size: 1.7em;
  text-transform: lowercase;
  color: rgba(50,49,49,0.72);
  letter-spacing: +8px;
  margin: 0 30px;
  text-align: center;
}

h2 {
	font-family: 'Alegreya Sans SC';
  font-size: 1.7em;
  margin: 0 15px;
  text-align: center;
  font-weight: 100;
  color: #777;
}

h3 {
	font-family: 'Source Sans Pro';
  font-size: 1.1em;
  letter-spacing: +3px;
  font-weight: 200;
  margin: 15px;
  color: #777;
}

p {
  font-size: 1em;
  line-height: 1.9em;
  font-family: Quicksand;
  letter-spacing: +2px;
}

textarea {
  margin: 0 20px;
}
/* header */

.navbar  {
  opacity: 0.9;
}

.navbar .nav > li  >a {
  color: #fff;
}

.navbar .nav > li  >a:hover {
    color: #fff;
}

.name {
  border: 1px solid rgba(101,99,99,0.3);
}

/* footer */

footer {
	display: block;
	clear:both;
	margin-top: 30px;
	background-color:rgba(0,0,0,0.10);
}

hr {
	width: 80%;
  border: 0;
  height: 0;
  border-top: 1px solid rgba(203,45,45,0.3);
  //border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

footer a {
  color: #555;
}

footer a:hover {
  color: #A4192E;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
/* sidebar */

aside {
  section.info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: 10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}



/* menu */
#menu {
  background: #ffffff;
  width: auto;
}
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
}
#menu ul:after {
  content: ' ';
  display: block;
  clear: both;
  visibility: hidden;
}
#menu ul li {
  float: left;
  display: block;
  padding: 0;
  border-top: 1px solid rgba(213,214,215,0.43);
}
#menu ul li a {
  color: rgba(166,169,172,0.6);
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-weight: 800;
  text-transform: uppercase;
  font-size: 1.5 em;
  font-family: "Lato";
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#menu ul li a:hover {
  color: #A4192E;
}
#menu ul li a:hover:before {
  width: 100%;
}
#menu ul li a:after {
  content: '';
  display: block;
  position: absolute;
  right: -5px;
  top: 16px;
  height: 26px;
  width: 1px;
  background: #898a8f;
  opacity: .5;
}
#menu ul li a:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1px;
  width: 0;
  background: #d0d1d9;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#menu ul li:last-child > a:after {
  display: none;
}
#menu ul li.active a {
  color: #d0d1d9;
}
#menu ul li.active a:before {
  width: 100%;
}

.polls {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

.clock {
zoom: 0.7;
text-align: center;
display: inline-block;
width: default;
-moz-transform: scale(0.7)
}

.nested-fields {
  margin-top: 20px;
  padding: 20px;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.img-div {
  text-align: center;
}


.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

#margin {
  margin-top: 40px;
}

.img {
	padding-bottom: 25px;
  border-bottom: 1px solid rgba(101,99,99,0.3);
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	transition: all 0.5s ease;
  -webkit-filter: grayscale(100%);
}
.img:hover {
  -webkit-filter: grayscale(0%);
}