<footer class="footer">
  <hr>
  <small>
    The Poll Creating Web App by Dung Bui and Ha Nguyen
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
    </ul>
  </nav>
</footer>