<header class="navbar navbar-fixed-top">
  <div class="container">
    <nav>
      <br>
      <div id="menu">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Home", root_path %></li>
          <% if current_user != nil %>
            <li><%= link_to "Create", new_post_path %></li>
          <% end %>
          <li><%= link_to "Polls", posts_url %></li>
          <li><%= link_to "About", about_path %></li>
          <% if logged_in? %>
            <li><%= link_to "Settings", edit_user_path(current_user) %></li>
            <li class="divider"></li>
            <li>
              <%= link_to "Log out", logout_path, method: "delete" %>
            </li>

          <% else %>
            <li><%= link_to "Log in", login_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>